@charset "UTF-8";

$color1:#3F51B5;
$color2:white;

body{
    max-width: 960px;
}

.header,.header-logo,.footer{
    max-width: 100%;
    width: 100%;
}

* {
    box-sizing: border-box; 
}


.header{
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;;
    height: 100px;
    background: $color1;
    display:flex;
    justify-content: space-between;

    &-logo{
        max-width: 100%;
        padding: 31px 0 30px 140px;
        width: 200px;
        height: 39px;
    }

    &-nav {
        &-list {
        list-style: none;
        display: flex;
        justify-content: center;
            li{
            margin:40px 30px 39px 0;
                a{
                color: $color2;
                text-decoration: none;
                }
            &:hover{
                border-bottom: solid 2px red;
                padding-bottom: 5px;
            }        
            &:last-child{
                margin-right: 140px;
            }
            }
        }
        .menu-icon{
            color: white;
            display: none;
        }
    }
}

.mv{
    width: 1366px;
    min-width: 100%;
    height: 700px;
    background-image: url(../img/mainvisual.png);
    background-size: cover;
    text-align: center;
    
    &-title{
        padding-top: 249px;
        font-size: 68px;
    }
    
    &-text{
        margin-top: 12px;
        font-size: 38px;
    }
    
    &-btn{
        display: inline-block;
        text-decoration: none;
        margin-top: 82px;
        padding:17px 81px;
        font-size: 38px;
        color: $color2;
        background: $color1;
        border-radius: 12px;
    }
}

#card-section{
    width: 1366px;
    height:  1130px;
    background:#EFEFEF;
    
    .section-title{
        padding-top: 68px;       
        font-size: 60px;
        text-align: center;

    ＆h2::after{
        content: '';
        display: block;
        background: #BD0404;
        height: 3px;
        width: 28px;
        }
    }

    .card-list{
        width: 1106px;
        height:741px;
        display: flex;
        flex-wrap: wrap;
        margin: 113px 0 0 140px;

        .card{
            width: 342px;
            height: 355px;
            background: white;
            margin:0 30px 20px 0;
        
        &:nth-child(3n) {
            margin-right: 0;
        }

            &-img{
                width: 310px;
                height: 161px;
                background: gray;
                margin:16px 16px 26px 16px;
            }
            &-title{
                color:#6F7579;
                font-size: 20px;
                margin: 26px 0 20px 16px;
            }
            &-text{
                font-size: 16px;
                margin: 0 16px 0 16px;
                color:#6F7579;
            }
        }
    }
    }

